name: Deploy Hugo site to Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.147.3
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb          
      - name: Install Dart Sass
        run: sudo snap install dart-sass
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Install Node.js dependencies
        run: |
          [[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true
          npm install -D autoprefixer
          npm install -D postcss-cli
          npm install -D postcss
      - name: Build with Hugo latest
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
          TZ: America/Los_Angeles
        run: |
          git clone --recursive --depth 1 --branch master https://github.com/adityatelange/hugo-PaperMod.git themes/PaperMod
          git clone --depth 1 --branch 6.7.0 https://github.com/FortAwesome/Font-Awesome.git themes/github.com/FortAwesome/Font-Awesome
          git clone --depth 1 --branch v5.3.3 https://github.com/twbs/bootstrap.git themes/github.com/twbs/bootstrap
          hugo \
            --gc \
            --theme PaperMod \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/" 
      - name: Build with Hugo v0.1.6
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
          TZ: America/Los_Angeles
        run: |
          git fetch --prune --unshallow
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*
          git fetch --all --tags
          git checkout tags/v0.1.6
          hugo \
            --gc \
            --theme PaperMod \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/v0.1.6/" \
            --destination ./public/v0.1.6
      - name: Build with Hugo v0.1.5
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
          TZ: America/Los_Angeles
        run: |
          git fetch --prune --unshallow
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*
          git fetch --all --tags
          git checkout tags/v0.1.5
          hugo \
            --gc \
            --theme PaperMod \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/v0.1.5/" \
            --destination ./public/v0.1.5
      - name: Build with Hugo v0.1.4
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
          TZ: America/Los_Angeles
        run: |
          git fetch --prune --unshallow
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*
          git fetch --all --tags
          git checkout tags/v0.1.4
          hugo \
            --gc \
            --theme PaperMod \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/v0.1.4/" \
            --destination ./public/v0.1.4
      - name: Build with Hugo version
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
          TZ: America/Los_Angeles
        run: |

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
